<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <contactlab_hub>
            <settings>
                <apitoken>YOUR_TOKEN_HERE</apitoken>
                <apiurl>https://api.contactlab.it</apiurl>
                <apiworkspaceid>YOUR_WORKSPACE_HERE</apiworkspaceid>
                <apinodeid>YOUR_NODE_HERE</apinodeid>
                <apicontext>ECOMMERCE</apicontext>
                <useproxy>0</useproxy>
                <proxy></proxy>
            </settings>
            <behavior>
                <send_anonymous>0</send_anonymous>
            </behavior>
            <logging>
                <log>0</log>
                <logfilename>contactlab_hub.log</logfilename>
            </logging>
            <events>
                <formCompiled>1</formCompiled>
                <loggedIn>1</loggedIn>
                <loggedOut>1</loggedOut>
                <campaignSubscribed>1</campaignSubscribed>
                <campaignUnsubscribed>1</campaignUnsubscribed>
                <campaignName>Magento_Campaign</campaignName>
                <changedSetting>1</changedSetting>
                <searched>1</searched>
                <viewedProductCategory>1</viewedProductCategory>
                <viewedProduct>1</viewedProduct>
                <addedProduct>1</addedProduct>
                <removedProduct>1</removedProduct>
                <completedOrder>1</completedOrder>
                <order_status>processing</order_status>
                <orderShipped>1</orderShipped>
                <addedWishlist>1</addedWishlist>
                <removedWishlist>1</removedWishlist>
                <addedCompare>1</addedCompare>
                <removedCompare>1</removedCompare>
                <abandonedCart>1</abandonedCart>
            </events>
            <abandoned_cart>
                <send_to_not_subscribed>0</send_to_not_subscribed>
                <min_minutes_from_last_update>120</min_minutes_from_last_update>
                <max_minutes_from_last_update>1440</max_minutes_from_last_update>
            </abandoned_cart>
            <exchange_rates>
                <base_currency>EUR</base_currency>
                <website_currency>EUR</website_currency>
                <exchange_rate>1</exchange_rate>
            </exchange_rates>
            <cron_events>
                <limit>30</limit>
            </cron_events>
        </contactlab_hub>
    </default>
</config>