<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="newsletter_subscriber_save_before">
        <observer name="contactlab_hub_observer_newsletter_subscriber_save_before" instance="Contactlab\Hub\Observer\NewsletterSubscriberSaveBefore" />
    </event>
    <event name="customer_register_success">
        <observer name="contactlab_hub_observer_customer_register_success" instance="Contactlab\Hub\Observer\CustomerRegisterSuccess" />
    </event>
    <!-- Removed for order configuration status
    <event name="sales_order_place_after">
        <observer name="contactlab_hub_observer_sales_order_place_after" instance="Contactlab\Hub\Observer\SalesOrderPlaceAfter" />
    </event>
    -->
    <event name="checkout_cart_product_add_after">
        <observer name="contactlab_hub_observer_checkout_cart_product_add_after" instance="Contactlab\Hub\Observer\CheckoutCartProductAddAfter"/>
    </event>
    <event name="sales_quote_remove_item">
        <observer name="contactlab_hub_observer_sales_quote_remove_item" instance="Contactlab\Hub\Observer\SalesQuoteRemoveItem" />
    </event>
    <event name="checkout_cart_update_items_before">
        <observer name="contactlab_hub_observer_checkout_cart_update_items_before" instance="Contactlab\Hub\Observer\CheckoutCartUpdateItemsBefore" />
    </event>

    <event name="sales_order_save_after">
        <observer name="contactlab_hub_observer_sales_order_save_after" instance="Contactlab\Hub\Observer\SalesOrderSaveAfter" />
    </event>

</config>