<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="contactlab_hub" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Hub</label>
            <tab>contactlab</tab>
            <resource>Contactlab_Cutofftime::config</resource>
            <group id="settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Settings</label>
                <field id="apitoken" translate="label comment" type="text" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>ApiToken</label>
                </field>

                <field id="apiurl" translate="label comment" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Api base url</label>
                </field>
                <field id="apiworkspaceid" translate="label comment" type="text" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Api Workspace ID</label>
                </field>
                <field id="apinodeid" translate="label comment" type="text" sortOrder="40" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Api Node ID</label>
                </field>
                <field id="useproxy" translate="label comment" type="select" sortOrder="50" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Use Proxy</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="proxy" translate="label comment" type="text" sortOrder="60" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Proxy</label>
                    <comment>Format URL:PORT</comment>
                    <depends>
                        <field id="useproxy">1</field>
                    </depends>
                </field>
            </group>

            <group id="js_tracking" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Javascript tracking</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable JS tracking</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="untrusted_token" translate="label comment" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Untrusted token</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="disclaimer_enabled" translate="label comment" type="label" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Disclaimer</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="disclaimer_disabled" translate="label comment" type="label" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Disclaimer</label>
                    <depends>
                        <field id="enabled">0</field>
                    </depends>
                </field>
            </group>

            <group id="behavior" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Behavior</label>
                <field id="send_anonymous" translate="label comment" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Send anonymous event</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="disable_sending_subscription_email" translate="label comment" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Disable Sending Magento Subscription Email</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="disable_sending_new_customer_email" translate="label comment" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Disable Sending Magento New Customer Email</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="logging" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Logging</label>
                <field id="log" translate="label comment" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Log</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="logfilename" translate="label comment" type="text" sortOrder="60" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>File name</label>
                    <depends>
                        <field id="log">1</field>
                    </depends>
                </field>
            </group>

            <group id="events" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Events</label>
                <field id="formCompiled" translate="label comment" type="select" sortOrder="5" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Registered</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="loggedIn" translate="label comment" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>LoggedIn</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="loggedOut" translate="label comment" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>LoggedOut</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="campaignSubscribed" translate="label comment" type="select" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Newsletter subscribed</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="campaignUnsubscribed" translate="label comment" type="select" sortOrder="40"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Newsletter unsubscribed</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="campaignName" translate="label comment" type="text" sortOrder="50" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Newsletter Campaign</label>
                    <comment>Campaign Name e.g. (Magento_Campaign)</comment>
                </field>
                <field id="changedSetting" translate="label comment" type="select" sortOrder="60" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Locale changed</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="searched" translate="label comment" type="select" sortOrder="70" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Search</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="viewedProductCategory" translate="label comment" type="select" sortOrder="80"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Category viewed</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="viewedProduct" translate="label comment" type="select" sortOrder="90" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Product viewed</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="addedProduct" translate="label comment" type="select" sortOrder="100" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Product added to cart</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="removedProduct" translate="label comment" type="select" sortOrder="110" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Product removed from cart</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="completedOrder" translate="label comment" type="select" sortOrder="120" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="order_status" translate="label comment" type="multiselect" sortOrder="125" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Order Status</label>
                    <comment><![CDATA[Send Checkout Event When Order is in this status.]]></comment>
                    <source_model>Contactlab\Hub\Model\Config\Source\OrderStatus</source_model>
                    <depends>
                        <field id="contactlab_hub/events/completedOrder">1</field>
                    </depends>
                </field>
                <field id="orderShipped" translate="label comment" type="select" sortOrder="130" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Order Shipped</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="addedWishlist" translate="label comment" type="select" sortOrder="140" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Product added to wishlist</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="removedWishlist" translate="label comment" type="select" sortOrder="150" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Product removed from wishlist</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="addedCompare" translate="label comment" type="select" sortOrder="160" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Product added to compare</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="removedCompare" translate="label comment" type="select" sortOrder="170" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Product removed from compare</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="abandonedCart" translate="label comment" type="select" sortOrder="180" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Abandoned Cart</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="exchange_rates" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="0">
                <label>Exchange Rates</label>
                <field id="base_currency" translate="label comment" type="select" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Base Currency</label>
                    <frontend_model>Magento\Directory\Block\Adminhtml\Frontend\Currency\Base</frontend_model>
                    <source_model>Magento\Config\Model\Config\Source\Locale\Currency</source_model>
                    <comment>
                        <![CDATA[Base currency is used for all online payment transactions.
                        The base currency scope is defined by the catalog price scope
                        ("Catalog" > "Price" > "Catalog Price Scope").]]>
                    </comment>
                </field>
                <field id="website_currency" translate="label comment" type="select" sortOrder="2" showInDefault="0"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Website Currency</label>
                    <source_model>Magento\Config\Model\Config\Source\Locale\Currency</source_model>
                </field>
                <field id="exchange_rate" translate="label comment" type="text" sortOrder="3"
                       showInDefault="0" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Exchange rate</label>
                    <validate>validate-not-negative-number</validate>
                </field>
            </group>

            <group id="abandoned_cart" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Abandoned Carts</label>
                <field id="send_to_not_subscribed" translate="label comment" type="select" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send Abandoned Cart event from non-subscribed customers</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="contactlab_hub/events/abandonedCart">1</field>
                    </depends>
                </field>
                <field id="min_minutes_from_last_update" translate="label comment" type="text" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Minimum number of minutes before sending an Abandoned Cart event</label>
                    <validate>validate-not-negative-number validate-digits validate-is-min-of-range</validate>
                    <depends>
                        <field id="contactlab_hub/events/abandonedCart">1</field>
                    </depends>
                </field>
                <field id="max_minutes_from_last_update" translate="label comment" type="text" sortOrder="40"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Maximum number of minutes before sending an Abandoned Cart event</label>
                    <validate>validate-not-negative-number validate-digits validate-is-max-of-range</validate>
                    <depends>
                        <field id="contactlab_hub/events/abandonedCart">1</field>
                    </depends>
                </field>
            </group>

            <group id="customer_extra_properties" translate="label" type="text" sortOrder="10" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Customer Extra Properties</label>
                <field id="external_id" translate="label comment" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>External Id</label>
                    <source_model>Contactlab\Hub\Model\Config\Source\CustomerExtraProperties</source_model>
                </field>
                <field id="attribute_map" translate="label comment" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>CustomerAttribute</label>
                    <frontend_model>Contactlab\Hub\Block\Adminhtml\System\Config\Form\Map\Customer</frontend_model>
                    <backend_model>Contactlab\Hub\Model\Adminhtml\System\Config\Backend\Map\Customer</backend_model>
                </field>
            </group>

            <group id="cron_events" translate="label" type="text" sortOrder="10" showInDefault="1"
                   showInWebsite="0" showInStore="0">
                <label>Cron Export Events</label>
                <field id="limit" translate="label comment" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Limit Events to export</label>
                    <source_model>Contactlab\Hub\Model\Config\Source\Cron\Limit</source_model>
                    <validate>validate-not-negative-number validate-digits validate-is-min-of-range</validate>
                </field>
                <field id="frequency" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Frequency</label>
                    <source_model>Contactlab\Hub\Model\Config\Source\Cron\Frequency</source_model>
                    <backend_model>Contactlab\Hub\Model\Config\Cron\Events</backend_model>
                </field>
                <field id="time" translate="label comment" sortOrder="40" type="time" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Start Time</label>
                    <depends>
                        <field id="frequency" separator="|">D|W|M</field>
                    </depends>
                </field>
                <field id="repeat_minutes" translate="label comment" type="select" sortOrder="40" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Repeats</label>
                    <source_model>Contactlab\Hub\Model\Config\Source\Cron\Minutes</source_model>
                    <depends>
                        <field id="frequency">I</field>
                    </depends>
                </field>
                <field id="repeat_hours" translate="label comment" type="select" sortOrder="50" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Repeats</label>
                    <source_model>Contactlab\Hub\Model\Config\Source\Cron\Hours</source_model>
                    <depends>
                        <field id="frequency">H</field>
                    </depends>
                </field>
                <field id="delete" translate="label comment" type="select" sortOrder="60" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Delete Exported Events Older Then X Months</label>
                    <source_model>Contactlab\Hub\Model\Config\Source\Cron\Months</source_model>
                </field>
            </group>

            <group id="cron_previous_customers" translate="label" type="text" sortOrder="10" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Cron Previous Customers Settings</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="export_orders" translate="label comment" type="select" sortOrder="15" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Export Previous Orders</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="previous_date" translate="label comment" sortOrder="20" type="text" showInDefault="0"
                       showInWebsite="0" showInStore="1">
                    <label>Previous Date</label>
                    <frontend_model>Contactlab\Hub\Block\Adminhtml\System\Config\Form\Field\DatePicker</frontend_model>
                </field>
                <field id="limit" translate="label comment" type="select" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Limit Customers to export</label>
                    <source_model>Contactlab\Hub\Model\Config\Source\Cron\Limit</source_model>
                    <validate>validate-not-negative-number validate-digits validate-is-min-of-range</validate>
                </field>
                <field id="reset" translate="label comment" type="button" sortOrder="90" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <frontend_model>Contactlab\Hub\Block\Adminhtml\System\Config\Form\Field\Reset</frontend_model>
                    <label>Reset all previous customers</label>
                </field>
            </group>
        </section>
    </system>
</config>
