<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Contactlab_Core::core"
             title="Contactlab"
             module="Contactlab_Core"
             sortOrder="60"
             resource="Magento_Backend::content" />
    </menu>
</config>